h1 {
    text-align: center;
}

#contas {
    margin: 20px;
}

.conta {
    padding: 10px;
    margin-bottom: 10px;
}

.amarelo {
    background-color: yellow;
}

.vermelho {
    background-color: red;
}